body {
  margin: 0;
  font-family: "Open Sans Condensed",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 50px;
  background-color: #ffffff;
  background-image: linear-gradient(
    105deg,
    #ffffff 0%,
    #ffffff 30%,
    #8f759b 100%
  );
}

code {
  font-family: source-code-pro, Menlo,
    Monaco, Consolas, "Courier New",
    monospace;
}
